<!DOCTYPE html>
<html lang="us-en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/ctrlcat icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>CtrlCat</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg nv-background">
        <div class="container d-flex align-items-center">
            <img src="/static/img/ctrlcat icon.png" alt="Icon">
            <a href="#home" class="text-shadow navbar-brand">&nbsp;&nbsp;CtrlCat</a>
        
            <button
                class="navbar-toggler"
                style="color: #F5F5F5; padding: 10px;"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu">
                <span class="bi bi-list-ul"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#download" class="nav-link">Download</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="background-color: #181818;" id="main">
        <section id="home" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-shadow">&nbsp;Copy&nbsp;and&nbsp;Paste&nbsp;</h2>
                <h2 class="text-shadow">&nbsp;Made&nbsp;Easier&nbsp;</h2>
            </div>
        </section>

        <section class="pb-5" id="about">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="p-5">
                            <div>
                                <div class="title">
                                        <h2 class='title-text pt-3 pb-3'>About</h2>
                                </div>
                                <p class="text-white mt-4"> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Made using Python and Qt, CtrlCat has the goal of helping users to manage text copies made using Ctrl+C. 
                                    This application clipboard's copies are automatically saved inside a SQL data bank, 
                                    allowing users to make changes to them and select from previous copies through a key sequence.
                                </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="p-5 h-100">
                            <img style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%;" class="img-fluid" src="/static/img/placeholder 600x900.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-color pb-5" id="download">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="p-5">
                            <div>
                                <div class="title">
                                <h2 class='title-text pt-3 pb-3'>Download</h2>
                                </div>
                                <div class = 'mt-4'>
                                    <p class="text-white"> 
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        CtrlCat is free and currently available for Windows and Debian's Linux.
                                    </p>
                                    <ul>
                                        <li>
                                        <div class="download windows">
                                            <i class="fa fa fa-windows fa-3x"></i>
                                            <span class="df">Download for</span>
                                            <span class="dfn">Windows</span>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="download linux" style="cursor: default;">
                                            <i class="fa fa fa-linux fa-3x"></i>
                                            <span class="df">Work in Progress</span>
                                            <span class="dfn">Linux .deb</span>
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-md-0">
                        <div class="p-5 h-100 ">
                            <img style="display: block; margin-left: auto; margin-right: auto; width: 60%;" class="img-responsive" src="/static/img/logo.png" alt="CtrlCat Logo">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-5" id="contact">

            <div class="container mb-5 p-5">
                <div class="title">
                <h2 class='title-text pt-3 pb-3'>Contact</h2>
                </div>
                <div class="row">

                    <div class="col-md-5">
                        <div class="p-5">
                            <div>
                                <p class="text-white"> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Need help or want to get in touch? Please send me an E-mail using this form, and I will respond as soon as possible.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">

                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="name" class="form-label">Name:</label>
                                    <input type="text" class="form-control" id="name" name='name' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email' required>
                                </div>

                                <div class="col-12">
                                    <label for="message" class="form-label">Message:</label>
                                    <textarea type="text" class="form-control" id="message" name='message' rows="10" required></textarea>
                                </div>


                                <div class="button-submit col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-send' style="background-color: black;" type="submit" class="btn btn-primary">Send message</button>
                                    <button id='btn-send-loader' style="background-color: black;" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>